
/* ----- Apply to All ----- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #28262F;
}

/* ----- Body CSS ----- */


/* ----- Nav Bar CSS ----- */

li {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    list-style: none;
    padding: 9px 25px;
    color: rgb(252, 252, 252);
    cursor: pointer;

}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 30px;
}

nav li {
    display: inline-block;
    padding: 0px 20px;
}

li:hover {
    color: rgba(142, 25, 142, .8);
}

.textlogo {
    margin-right: auto;
    cursor: pointer;
}


/* ----- Hero Section CSS ----- */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 50px;

}

.try {
    display: flex;
    align-items: left;
}

.dalle {
    border-radius: 50%;
    border: 10px solid #ffffff;

}

.dalle img {
    object-fit: cover;
    width: 500px;
    height: 500px;
}

.cardleft {
    color: white;
}

.cardleft h1 {
    font-size: 50px;
    font-family: sans-serif;
}

.cardleft p {
    font-size: 20px;
    font-family: sans-serif;
}

.cardleft button {
    padding: 9px 25px;
    color: white;
    background-color: rgba(142, 25, 142, 1);
    border-style: none;
    font-size: 20px;
    border-radius: 50px;
}

.cardleft button:hover {
    background-color: rgba(142, 25, 142, .8);
    cursor: pointer;
}